<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>sakai-lessonbuildertool</display-name>
  <description>Sakai Lesson Builder Tool</description>
  <context-param>
    <param-name>resourceurlbase</param-name>
    <param-value>/sakai-lessonbuildertool-tool/</param-value>
  </context-param>
  <resource-env-ref>
    <description>
			Object factory for MyBean instances.
		</description>
    <resource-env-ref-name>bean/BeanBESAKISS</resource-env-ref-name>
    <resource-env-ref-type>co.edu.javeriana.BeanBESA</resource-env-ref-type>
  </resource-env-ref>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:conf/rsf-config.xml,
			classpath:conf/blank-applicationContext.xml,
			classpath:conf/sakai-applicationContext.xml,
			classpath:conf/components-applicationContext.xml,
			/WEB-INF/*applicationContext.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>requestContextConfigLocation</param-name>
    <param-value>
			classpath:conf/rsf-requestscope-config.xml,
			classpath:conf/blank-requestContext.xml,
			classpath:conf/sakai-requestContext.xml,
			classpath:conf/components-requestContext.xml,
			/WEB-INF/requestContext.xml
		</param-value>
  </context-param>
  <filter>
    <filter-name>sakai.request</filter-name>
    <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    <init-param>
      <param-name>upload.enabled</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <servlet-name>sakai.lessonbuildertool</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>lessonbuilder.ajaxfilter</filter-name>
    <filter-class>org.sakaiproject.lessonbuildertool.AjaxFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <url-pattern>/faces/Comments</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <url-pattern>/faces/GradingPane</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lessonbuilder.ajaxfilter</filter-name>
    <url-pattern>/faces/Comments</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lessonbuilder.ajaxfilter</filter-name>
    <url-pattern>/faces/GradingPane</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.sakaiproject.util.ToolListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>sakai.lessonbuildertool</servlet-name>
    <servlet-class>uk.ac.cam.caret.sakai.rsf.servlet.ReasonableSakaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sakai.lessonbuildertool</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sakai.lessonbuildertool.removePage</servlet-name>
    <jsp-file>/removePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sakai.lessonbuildertool.removePage</servlet-name>
    <url-pattern>/removePage</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <servlet-name>sakai.lessonbuildertool.removePage</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>