<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../css/Simplepagetool.css" type="text/css"/>

</head>
<body rsf:id="scr=sakai-body">
	<div class="portletBody">
		
		<div rsf:id="error-div" class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="margin-bottom: 20px; margin-top:20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span rsf:id="error"></span> </p>
			</div>
		</div>
		  
		  <iframe rsf:id="startupHelp" role="document"
		   name="SimplePageIFrame"
		   class="portletMainIframe multimedia"
		   frameborder="0"
		   onload="resizeiframe('iframe')"
		   marginwidth="0"
		   width="100%"
		   height="500"
		   marginheight="0"
		   scrolling="auto"
		   id="iframe"
		   ></iframe>

		<h3 rsf:id="msg=actividad.crear" style="color:#045FB4"></h3>
		<br />

		<div rsf:id="actividad-create:" style="margin-left:2em">
		  <a href="#" rsf:id="actividad-create-link"></a>
		</div>
		<div class="portletBody" style="width: 100px; height: 1000px;">
		<form action="#" rsf:id="actividadC">
			<table id="list" role="list" width="40%" border="2" align="left" cellspacing="0" bordercolor="#000000" bgcolor="#045FB4">
				<tr>					
					<td>
						<span class="reqStar">*</span>
			            <span rsf:id="actividad-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
			        </td>
			        <td>
			            <input type="text" size="80" maxlength="80" rsf:id="nombre:">
			            </input>
					</td>
				</tr>
			    <tr>					
					<td>
						<span class="reqStar">*</span>
			            <span rsf:id="actividad-tipo" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
			        </td>     
			        <td>
			             <select rsf:id="listaTipos" >
		            		</select> 

<!-- 						<span rsf:id="tipos"/>					 -->
<!-- 						<ul id="list" border="0" role="main"> -->
<!-- 							<li rsf:id="page:" style="list-style-type:none"> -->
<!-- 								<h2 rsf:id="heading"></h2> <select rsf:id="listaTipos" /><a rsf:id="link-text"></a>  -->
<!-- 							</li> -->
<!-- 						</ul>	 -->
					</td>
				</tr>
				<tr >
					<td>
						<span rsf:id="descripcion-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
						<textarea rsf:id="descripcion:" rows="10" cols="40"></textarea>	
					</td>
				</tr>
				
				<tr >
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="goal-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
						<span rsf:id="objetivos"/>
<!-- 						<ul id="list" border="0" role="main"> -->
							<li rsf:id="page:" style="list-style-type:none">
								<h2 rsf:id="heading"></h2><input type="radio" rsf:id="select" /><span rsf:id="link-note" class="offscreen"></span><span rsf:id="link-text" style="color:white"></span> 
							</li>
<!-- 						</ul> -->
						
						<a href="#" rsf:id="nuevoObjetivo-link" class="nuevoObjetivo-link"><span rsf:id="msg=registro.nuevoobjetivo"></span></a>
					</td>
					<td>
<!-- 						<textarea rsf:id="goal:" rows="10" cols="40"></textarea>	 -->
						<span rsf:id="objetivos"/>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="dedicacionActvidad-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
						 <input type="number" min="1" max="100" rsf:id="dedicacionactividad:" value="0"/>
					</td>
				</tr>
				
<!-- 				<tr > -->
<!-- 					<td> -->
<!-- 						<span rsf:id="time-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span> -->
<!-- 					</td> -->
<!-- 					<td> -->
<!-- 						<span  rsf:id="time-initial-label" style="color:white"/> -->
<!-- 						<input rsf:id="initial:" type="datetime-local" min="2013-01-01T00:00Z" max="2019-01-01T00:05Z" /> -->
<!-- 						<br /> -->
<!-- 						<span  rsf:id="time-final-label" style="color:white"/> -->
<!-- 						<input rsf:id="final:" type="datetime-local" min="2013-01-01T00:00Z" max="2019-01-01T00:05Z" /> -->
<!-- 					</td> -->
<!-- 				</tr> -->
				
				<tr>					
					<td>
						<span class="reqStar">*</span>
			            <span rsf:id="actividad-recurso" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
			        </td>     
			        <td>
			             <select rsf:id="listaRecursos" >
		            		</select> 
            		</td>
           		</tr>				
				<tr >
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="contexto-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
						<select rsf:id="listaContexto" >
			            		<option value="1" />
		            		</select> 
					</td>					           
				</tr>
				
				<tr>
					<td>
							<span class="reqStar">*</span>
		            		<span rsf:id="sa-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
            		</td>
           			<td>
						<select rsf:id="listaSA" >
			            		<option value="1" />
	            		</select>
            		</td>
           		</tr> 
				
				<tr >
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="actividadIF-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
						<select rsf:id="actividadIF_opciones" >
			            		<option value="1" />
		            		</select> 
					</td>					           
				</tr>
				
				<tr >
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="precondiciones-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
					<br />
						<table>
<!-- 							<tr> -->
<!-- 								<td> -->
<!-- 									<span rsf:id="estilo-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span> -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<select rsf:id="listaEstilos" > -->
<!-- 						            		<option value="1" /> -->
<!-- 				            		</select>  -->
<!-- 			            		</td> -->
<!-- 		            		</tr> -->
							<tr>
								<td>
									<span rsf:id="habilidades-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
								</td>
							</tr>
		            		 <tr>
								<td>
									<span rsf:id="habilidades"/>
<!-- 									<ul id="list" border="0" role="main"> -->
										<li rsf:id="pageH:" style="list-style-type:none">
											<input type="checkbox" rsf:id="listaHabilidades" /><span rsf:id="link-textH" style="color:white"></span> 
										</li>
<!-- 									</ul> -->
			            		</td>
							</tr>
	            			<tr>
	            				<td>
	            					<br />
									<span rsf:id="competencias-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
								</td>
							</tr>
		            		 <tr>
								<td>
									<span rsf:id="competencias"/>
<!-- 									<ul id="list" border="0" role="main"> -->
										<li rsf:id="pageC:" style="list-style-type:none">
											<input type="checkbox" rsf:id="listaCompetencias" /><span rsf:id="link-textC" style="color:white"></span> 
										</li>
<!-- 									</ul> -->
<!-- 									<select rsf:id="listaCompetencias" > -->
<!-- 						            		<option value="1" /> -->
<!-- 				            		</select> -->
			            		</td>
		            		</tr> 
<!-- 		            		<tr> -->
<!-- 								<td> -->
<!-- 				            		<span rsf:id="personalidad-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span> -->
<!-- 								</td> -->
<!-- 		            			<td> -->
<!-- 									<select rsf:id="listaPersonalidad" > -->
<!-- 						            		<option value="1" /> -->
<!-- 				            		</select> -->
<!-- 			            		</td> -->
<!-- 		            		</tr>  -->		            		
	            		</table>	            		
					</td>	
				</tr>				
<!-- 					<td> -->
<!-- 						<span rsf:id="niveles-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span> -->
<!-- 						<br /> -->
<!-- 						 <input type="number" min="0" max="5" rsf:id="nivele:" value="0"/> -->
<!-- 						 <br/> -->
<!-- 						 <input type="number" min="0" max="5" rsf:id="nivelh:" value="0"/> -->
<!-- 						 <br/> -->
<!-- 						 <input type="number" min="0" max="5" rsf:id="nivelc:" value="0"/> -->
<!-- 						 <br/> -->
<!-- 						  <input type="number" min="0" max="5" rsf:id="nivelp:" value="0"/> -->
<!-- 						 <br/> -->
<!-- 						  <input type="number" min="0" max="5" rsf:id="nivelsa:" value="0"/> -->
<!-- 						 <br/> -->
						 
<!-- 					</td>					            -->
				<tr >
					<td>
						<span class="reqStar">*</span>
						<span rsf:id="postcondiciones-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
					</td>
					<td>
					<br />
						<table>
				            <tr>
								<td>
				            		<span rsf:id="habilidades-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
			            		</td>
		            		</tr>
		            		 <tr>
		            			<td>
		            				<span rsf:id="habilidadesPC"/>
<!-- 									<ul id="list" border="0" role="main"> -->
										<li rsf:id="pageHP:" style="list-style-type:none">
											<input type="checkbox" rsf:id="listaHabilidadesPC" /><span rsf:id="link-textHP" style="color:white"></span> 
										</li>
<!-- 									</ul> -->
<!-- 									<select rsf:id="listaCompetenciasPC" > -->
<!-- 						            		<option value="1" /> -->
<!-- 				            		</select>  -->
				            		</td>
		            		</tr>
		            		 <tr>
								<td>
									<br />
				            		<span rsf:id="competencias-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span>
			            		</td>
		            		</tr>
		            		 <tr>
		            			<td>
		            				<span rsf:id="competenciasPC"/>
<!-- 									<ul id="list" border="0" role="main"> -->
										<li rsf:id="pageCP:" style="list-style-type:none">
											<input type="checkbox" rsf:id="listaCompetenciasPC" /><span rsf:id="link-textCP" style="color:white"></span> 
										</li>
<!-- 									</ul> -->
<!-- 									<select rsf:id="listaCompetenciasPC" > -->
<!-- 						            		<option value="1" /> -->
<!-- 				            		</select>  -->
				            		</td>
		            		</tr>
	            		</table>
	            		</td>
            		</tr>
<!--             		</td> -->
<!--             		<td nowrap="nowrap"> -->
<!-- 						<span rsf:id="nivelesPC-label" style="color:white"></span><span class="bold" style="margin-left:5px;"></span> -->
<!--  						<br /> --> 
<!-- 						 <input type="number" min="0" max="5" rsf:id="nivelhpc:" value="0"/> --> 
<!--  						 <br/> --> 
<!-- 						 <input type="number" min="0" max="5" rsf:id="nivelcpc:" value="0"/> -->
<!-- 						 <br/> -->
						 
<!-- 					</td> -->
<!--            		</tr> -->
				
				<tr>
					<td>
						<input type="submit" class="bold" rsf:id="submit" />
					</td>
					<td>
						<input type="submit" class="bold" rsf:id="delete" />
					</td>
					<td>
						<input type="submit" rsf:id="cancel" />	
					</td>
				</tr>
			</table>			
			<input type="hidden" rsf:id="item-id" id="item-id" />
			<input type="hidden" rsf:id="idActividad" id="idActividad" />
			<input type="hidden" rsf:id="agenteInterface" id="agenteInterface" />
			
		</form>
		</div>		
	</div>
</body>
</html>
