<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../css/Simplepagetool.css" type="text/css"/>
<title rsf:id="msg=recurso.objetivosUnidad"></title>


</head>
<body rsf:id="scr=sakai-body">
	<div class="portletBody">
		
		<div id="editarActividades" rsf:id="editarActividades">		
			<form action="#" rsf:id="editarActividades-form">
				<h2 class="pageTitle" rsf:id="error" for="dedicacion"></h2>
				<table>
					<tr>
						<td>
							<span rsf:id="actividadesSpan"/>
							<label class="pageTitle" rsf:id="actividades-label" for="dedicacion"></label>
							<ul id="list" border="0" role="main">
								<li rsf:id="actividad:" style="list-style-type:none">
									<a href="#" rsf:id="actividad-link" class="actividad-link"><span rsf:id="link-textactividad"></span></a> 
								</li>
							</ul>	
						</td>
						<td>
							<span rsf:id="botonesSpan"/>
							<label class="pageTitle" rsf:id="botones-label" for="dedicacion"></label>
							<ul id="list" border="0" role="main">
								<li rsf:id="botones:" style="list-style-type:none">
									<a href="#" rsf:id="habilitar-link" class="actividad-link"><span rsf:id="link-textEactividad"></span></a>
								</li>
							</ul>	
						</td>						
					</tr>
					<tr>
						<td>
							<input type="submit" rsf:id="cancel"/>
						</td>
					</tr>

				</table>
				<input type="hidden" rsf:id="item-id" id="item-id" />
			</form>
		</div>
	</div>
</body>
</html>
