<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
<script rsf:id="scr=portal-matter" type="text/javascript"
	language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css"
	type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css"
	type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" rsf:id="scr=rewrite-url"
	href="../css/Simplepagetool.css" type="text/css" />
<link rel="stylesheet" href="../css/BeatPicker.min.css"/>
<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/BeatPicker.min.js"></script>
</head>
<body rsf:id="scr=sakai-body">
<h3 rsf:id="msg=objetivos.editar" style="color:#045FB4"></h3>
<br />
	<div class="portletBody" style="width: 100px; height: 1000px;">		
		<form action="#" rsf:id="objetivoC">
			<table id="list" role="list" width="100%" border="2" align="left"
				cellspacing="0" bordercolor="#000000" bgcolor="#045FB4">
				<tr>
					<td>
					<span rsf:id="objetivosPost-label" style="color: white"></span>
					<span class="bold" style="margin-left: 5px;"></span>
					</td>
					<td style="white-space:nowrap;"> 
						<span rsf:id="objetivos"/>
						<ul id="list" border="0" role="main">
							<li rsf:id="pageObj:" style="list-style-type: none">
<!-- 								<span rsf:id="link-textC" style="color: white"></span> -->
								<a href="#" rsf:id="link-textC" style="color: white"></a>
								<br />
									<span class="bold" style="margin-left: 5px;"></span>
									<br />
							</li>
						</ul>
					</td>
<!-- 					<td> -->
<!-- 						<span rsf:id="fechasIniciales"/> -->
<!-- 						<ul id="list" border="0" role="main"> -->
<!-- 							<li rsf:id="pageFechaIni:" style="list-style-type: none"> -->
<!-- 									<span rsf:id="time-initial-label" style="color: white" /> -->
<!-- 										<input rsf:id="initial:"type="text" data-beatpicker="true"  -->
<!-- 											data-beatpicker-id="myDatePicker"/> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</td> -->
<!-- 					<td> -->
<!-- 						<span rsf:id="fechasFinales"/> -->
<!-- 						<ul id="list" border="0" role="main"> -->
<!-- 							<li rsf:id="pageFechaFin:" style="list-style-type: none"> -->
<!-- 									<span rsf:id="time-final-label" style="color: white" /> -->
<!-- 										<input rsf:id="final:" type="text" data-beatpicker="true"  -->
<!-- 											data-beatpicker-id="myDatePicker"/> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</td> -->
				</tr>
				<tr>
<!-- 					<td><input type="submit" class="bold" rsf:id="submit" /></td> -->
					<td><input type="submit" rsf:id="cancel" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>